<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="study.provider.mapper.TestMapper">
    <!--auto generated Code-->
    <resultMap id="BaseResultMap" type="study.provider.DO.TestDO">
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="id" property="id" jdbcType="BIGINT"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="Base_Column_List">
        `name`,
        id
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="testDO.id">
        INSERT INTO test (
            `name`,
            id
        ) VALUES (
            #{testDO.name,jdbcType=VARCHAR},
            #{testDO.id,jdbcType=BIGINT}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="testDO.id">
        INSERT INTO test
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="testDO.name!=null"> `name`,</if>
            <if test="testDO.id!=null"> id,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="testDO.name!=null">#{testDO.name,jdbcType=VARCHAR},
            </if>
            <if test="testDO.id!=null">#{testDO.id,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO test (
            `name`,
            id
        )VALUES
        <foreach collection="testDOs" item="testDO" index="index" separator=",">
            (
            #{testDO.name,jdbcType=VARCHAR},
            #{testDO.id,jdbcType=BIGINT}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="updateByPrimaryKeySelective">
        UPDATE test
        <set>
            <if test="testDO.name != null"> `name`= #{testDO.name,jdbcType=VARCHAR},</if>
        </set>
        WHERE id = #{testDO.id,jdbcType=BIGINT}
    </update>
    <select id="get" resultMap="BaseResultMap">
      select * from test;
    </select>
</mapper>

